body {
    background: #87CEFA;
    min-height: 100%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.header {
    display: grid;
    place-items: center;
}

#languages {
    margin-bottom: 25px;
}

#english-flag {
    display: inline-block;
    height: 25px;
    width: 30px;
    background-image: url('/img/uk-flag.gif');
    background-size: cover;
    background-position: center;
    margin-right: 10px;
}

#brazilian-flag {
    display: inline-block;
    height: 25px;
    width: 30px;
    background-image: url('/img/brazilian-flag.gif');
    background-size: cover;
    background-position: center;
    margin-left: 10px;
}

#welcome {
    padding: 10px;
    width: 640px;
    font-size: 16px;
    background: #FFFF99;
    text-align: justify;
}

.search-container {
    text-align: center;
    margin-top: 10px;
}

#searchInput {
    padding: 10px;
    width: 640px;
    font-size: 16px;
}

.grid-container {
    max-width: 900px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(10, 1fr);
    margin: 20px auto;
}

.symbol {
    position: relative;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/symbols/aprs-symbols-64.png');
}

.tooltip {
    width: 128px;
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 153, 0.85);
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    bottom: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1; /* Ensure tooltip appears above other content */
}

.symbol:hover .tooltip {
    display: block;
    cursor: help;
}

footer {
    width: 100%;
    height: 64px;
    margin-top: 128px;
    text-align: center;
    background: #FFFF99;
    float: none;
    display: inline-block;
    clear: both;
}
